@keyframes circle_top {
	0% {
		stroke-dashoffset animation-circle-top
		fill #FFFFFF
	}
	80% {
		fill #FFFFFF
	}
	100% {
		stroke-dashoffset 0
		fill #1BA1E2
	}
}

@keyframes circle_bottom {
	0% {
		stroke-dashoffset animation-circle-bottom
		fill #FFFFFF
	}
	80% {
		fill #FFFFFF
	}
	100% {
		stroke-dashoffset 0
		fill #1BA1E2
	}
}
@keyframes triangle_top {
	0% {
		stroke-dashoffset animation-triangle-top
		fill #FFFFFF
	}
	80% {
		fill #FFFFFF
	}
	100% {
		stroke-dashoffset 0
		fill #1BA1E2
	}
}
@keyframes triangle_bottom {
	0% {
		stroke-dashoffset animation-triangle-bottom
		fill #FFFFFF
	}
	80% {
		fill #FFFFFF
	}
	100% {
		stroke-dashoffset 0
		fill #1BA1E2
	}
}