/*
 * Variables
 */

//== Animations
//
//## PATH lengths
animation-base-circle-top = 1782.365
animation-base-circle-bottom = 1779.189
animation-base-triangle-top = 468.399
animation-base-triangle-bottom = 469.475

animation-offset-circle = 50
animation-offset-triangle = 10

animation-circle-top = animation-base-circle-top + animation-offset-circle
animation-circle-bottom = animation-base-circle-bottom + animation-offset-circle

animation-triangle-top = animation-base-triangle-top + animation-offset-triangle
animation-triangle-bottom = animation-base-triangle-bottom + animation-offset-triangle

//== Gird
//
//## Columns
column-width = 60
gutter-width = 20
columns = 12

total-width = 100%